body{
  margin: 0;
  background-color: brown;
}

// ---- GameBoard ----
.gameBoard-container{
  height: 100px;
  width: 100px;
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gameBoard-cell{
  background-color: azure;
  border: 1px solid black;
  height: 30px;
  width: 30px;
}
// ---- GameBoard ----
